@import 'tailwindcss';

/* Seu CSS personalizado aqui */
.glass { 
    background: rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px); 
}
.glass-dark { 
    background: rgba(15, 23, 42, 0.6); 
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px); 
}
.safe-bottom { 
    padding-bottom: env(safe-area-inset-bottom); 
}
.no-scrollbar::-webkit-scrollbar { 
    display: none; 
}
.no-scrollbar { 
    -ms-overflow-style: none; 
    scrollbar-width: none; 
} 
